{"swagger":"2.0","info":{"version":"0.2","title":"MOKA API","description":"MokaPOS core API documentation written in swagger-2.0 specification","termsOfService":"https://www.mokapos.com/privacy","contact":{"name":"MokaPOS API Team"},"license":{"name":"MokaPOS"},"x-logo":{"url":"https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/logo-moka-v2.png"}},"host":"api.mokapos.com","basePath":"","consumes":["application/json"],"produces":["application/json"],"tags":[{"name":"Types of Moka Apps","description":"\u003cp\u003eMoka APIs let developers to create applications for various integration. Depending on the purpose of your app, it can be considered as a public or private app. The definition of each can be seen below:\u003c/p\u003e \u003cul\u003e \u003cli\u003e\u003cb\u003ePublic apps\u003c/b\u003e are meant for developers who want to distribute their applications to many merchants of Moka\u003c/li\u003e \u003cli\u003e\u003cb\u003ePrivate apps\u003c/b\u003e are meant for developers who want to build an integration specifically for a certain merchant or for personal use\u003c/li\u003e \u003c/ul\u003e \u003cp\u003eThere are several differences between public and private apps:\u003c/p\u003e \u003ctable\u003e \u003ctr\u003e \u003cth\u003e\u003c/th\u003e \u003cth\u003ePublic Apps\u003c/th\u003e \u003cth\u003ePrivate Apps\u003c/th\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003eVisibility in AppMarketplace\u003c/td\u003e \u003ctd\u003eVisible\u003c/td\u003e \u003ctd\u003eNot Visible\u003c/td\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003eStatus in Developer Dashboard\u003c/td\u003e \u003ctd\u003ePublished\u003c/td\u003e \u003ctd\u003eIn Review\u003c/td\u003e \u003c/tr\u003e \u003c/table\u003e \u003cp\u003e\u003cb\u003eNote:\u003c/b\u003e\u003c/p\u003e \u003cul\u003e \u003cli\u003eThe status \u003ccode\u003eIn Review\u003c/code\u003e still allow developers to use the application and it will still functionally working as expected\u003c/li\u003e \u003cli\u003eIf you want to make your application visible in AppMarketplace, please contact Moka directly by emailing to support@mokapos.com\u003c/li\u003e \u003c/ul\u003e"},{"name":"Authentication","description":"\u003ch2\u003eaccess_token\u003c/h2\u003e\n\u003cp\u003eAccess token for doing API request\u003c/p\u003e\n\u003ctable class=\"security-details\"\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003cth\u003e Security scheme type: \u003c/th\u003e\n      \u003ctd\u003e OAuth2 \u003c/td\u003e\n    \u003c/tr\u003e\n    \u003ctr\u003e\n      \u003cth\u003e implicit OAuth Flow \u003c/th\u003e\n      \u003ctd\u003e\n        \u003cdiv\u003e\n          \u003cstrong\u003e Authorization URL: \u003c/strong\u003e/oauth/authorize\n        \u003c/div\u003e\n        \u003cdiv\u003e\n          \u003cstrong\u003e Scopes: \u003c/strong\u003e\n        \u003c/div\u003e\n        \u003cul\u003e\n          \u003cli\u003e\n            \u003ccode\u003ecustomer\u003c/code\u003e - Access merchant customers\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003elibrary\u003c/code\u003e - Access merchant library\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003eprofile\u003c/code\u003e - Access merchant profile\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003ereport\u003c/code\u003e - Access merchant reports\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003etransaction\u003c/code\u003e - Access merchant transaction\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003echeckout\u003c/code\u003e - Create checkout\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003echeckout_api\u003c/code\u003e - Forward orders to Moka app\n          \u003c/li\u003e\n          \u003cli\u003e\n            \u003ccode\u003esales_type\u003c/code\u003e - Create/Modify advanced orderings sales type for an outlet.\n          \u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n  \u003c/table\u003e\n"},{"name":"Changelog","description":"\u003cp\u003eThese logs document the changes in Moka APIs including the supplemental and versioned changes. \u003c/p\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eChangelog history\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e22-06-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eRemove usage of below fields for following API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET getEventsV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST createSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET getSubscriptionsV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePATCH updateSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE deleteSubscriptionV1 API\u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e03-02-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Summaries API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/listItemSummariesV1\"\u003elistItemSummariesV1\u003c/a\u003e Add more explanation and detailed description regarding the API\n\u003c/ul\u003e\n\u003ch3\u003eLatest Transasction API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV3\"\u003eshowLatestTransactionsV3\u003c/a\u003e Add attributes \u003ccode\u003eexclude_bundle(bool)\u003c/code\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e16-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadPOSImageV1\"\u003euploadPOSImageV1\u003c/a\u003e Add 422 case error example.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadEcommerceImageV1\"\u003euploadEcommerceImageV1\u003c/a\u003e Add 422 case error example.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE \u003ca href=\"#operation/deleteItemV1\"\u003edeleteItemV1\u003c/a\u003e Add handling and example for 422 error.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003e Add ecommerce related attribute to GET \u003ca href=\"#operation/listItemsV1\"\u003elistItemsV1\u003c/a\u003e.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e11-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Adjusment API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eRemove attribute \u003ccode\u003ein_stock (string)\u003c/code\u003e for POST \u003ca href=\"#operation/createItemAdjustmentV1\"\u003ecreateItemAdjustmentV1\u003c/a\u003e.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e02-01-2023\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadPOSImageV1\"\u003euploadPOSImageV1\u003c/a\u003e The uploadPOSImageV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/uploadEcommerceImageV1\"\u003euploadEcommerceImageV1\u003c/a\u003e The uploadEcommerceImageV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createItemV1\"\u003ecreateItemV1\u003c/a\u003e: Add attribute image on create item for POS item image creation.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e07-12-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eItem Library API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createItemV1\"\u003ecreateItemV1\u003c/a\u003e The createItemV1 API has been introduced to create items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePUT \u003ca href=\"#operation/updateItemV1\"\u003eupdateItemV1\u003c/a\u003e The updateItemV1 API has been introduced to update items in MOKA library.\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eDELETE \u003ca href=\"#operation/deleteItemV1\"\u003edeleteItemV1\u003c/a\u003e The deleteItemV1 API has been introduced to delete items in MOKA library.\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e22-11-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eAdvanced Ordering Description: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eChange the status on order cancel by cashier from \"cancelled\" to \"rejected\"\u003c/li\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e01-11-2022\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eReport Invoice Detail V2 API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV2\"\u003ereportInvoiceDetailV2\u003c/a\u003e API can be query by \n  \u003ccode\u003einvoice_id (string)\u003c/code\u003e\u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n\u003cbr\u003e\n\u003ch3\u003eDeprecate usage of below fields for following API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoicesV2\"\u003ereportInvoicesV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV2\"\u003ereportInvoiceDetailV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n   \u003ctable\u003e\n      \u003ctr\u003e\n        \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n        \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n      \u003c/tr\u003e\n      \u003ctbody\u003e\n        \u003ctr\u003e\n          \u003ctd\u003e\n            \u003cul\u003e\n              \u003cli\u003e\u003ccode\u003edata.id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003c/ul\u003e\n          \u003c/td\u003e\n          \u003ctd\u003e\n            \u003cul\u003e\n              \u003cli\u003e\u003ccode\u003edata.uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n              \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003c/ul\u003e\n          \u003c/td\u003e\n        \u003c/tr\u003e\n      \u003c/tbody\u003e\n    \u003c/table\u003e \n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV2\"\u003eshowLatestTransactionsV2\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].payment_promo_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].payment_promo_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].payment_promo_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].promos[i].items[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].payment_promo_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].parent_promos[i].items[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\u003c/ul\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003ePOST \u003ca href=\"#operation/createCheckoutV1\"\u003ecreateCheckoutV1\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.uuid\u0026nbsp;\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoicesV3\"\u003ereportInvoicesV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n  \u003ctable\u003e\n    \u003ctr\u003e\n      \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n      \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n    \u003c/tr\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n        \u003ctd\u003e\n          \u003cul\u003e\n            \u003cli\u003e\u003ccode\u003edata.parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_records[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n            \u003cli\u003e\u003ccode\u003edata.checkouts[i].checkout_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003c/ul\u003e\n        \u003c/td\u003e\n      \u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/reportInvoiceDetailV3\"\u003ereportInvoiceDetailV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n    \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.invoices[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n\u003c/table\u003e\n\u003cli\u003e\u003cb\u003e\u003c/b\u003eGET \u003ca href=\"#operation/showLatestTransactionsV3\"\u003eshowLatestTransactionsV3\u003c/a\u003e API\u003c/p\u003e\u003c/li\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth style=\"text-align:left\"\u003eDeprecated Response Fields\u003c/th\u003e\n    \u003cth style=\"text-align:left\"\u003eReplacement Response Fields\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctbody\u003e\n    \u003ctr\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].parent_checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].payment_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].checkout_id\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].payment_id\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n      \u003ctd\u003e\n        \u003cul\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_taxes[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_gratuities[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_discounts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].parent_payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].checkouts[i].modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].parent_checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].checkout_uuid\u003c/code\u003e\u003c/li\u003e\n          \u003cli\u003e\u003ccode\u003edata.payments[i].payment_refunds[i].checkouts[i].modifiers[i].payment_uuid\u003c/code\u003e\u003c/li\u003e\n        \u003c/ul\u003e\n      \u003c/td\u003e\n    \u003c/tr\u003e\n  \u003c/tbody\u003e\n\u003c/table\u003e\n\u003c/ul\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e20-09-2021\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003eShifts API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eThe entire Shifts API has been removed.\u003c/li\u003e\n\u003c/ul\u003e\n\u003ch3\u003eSalesType API\u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003eThe \u003ca href=\"#operation/createSalesType\"\u003ecreateSalesType\u003c/a\u003e API has been introduced to create new sales type.\u003c/li\u003e\n\u003c/ul\u003e\n\u003ch3\u003e\u003cb\u003e\u003cp\u003e24-06-2020\u003c/p\u003e\u003c/b\u003e\u003c/h3\u003e\n\u003chr style=\"height:1px;border:none;color:#333;background-color:#333;\"\u003e\n\u003ch2\u003e\u003cb\u003e\u003cp\u003eFeatures:\u003c/p\u003e\u003c/b\u003e\u003c/h2\u003e\n\u003ch3\u003e Subscription API: \u003c/h3\u003e\n\u003cul\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/getEventsV1\"\u003egetEventsV1\u003c/a\u003e API has been introduced to retrieve events available in MOKA. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/getSubscriptionsV1\"\u003egetSubscriptionsV1\u003c/a\u003e API has been introduced to retrieve the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/createSubscriptionV1\"\u003ecreateSubscriptionV1\u003c/a\u003e API has been introduced to subscribe to an event. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/updateSubscriptionV1\"\u003eupdateSubscriptionV1\u003c/a\u003e API has been introduced to update the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003e\u003c/b\u003eThe \u003ca href=\"#operation/deleteSubscriptionV1\"\u003edeleteSubscriptionV1\u003c/a\u003e API has been introduced to destroy the subscriptions which you registered. \u003c/p\u003e\u003c/li\u003e\n\u003c/ul\u003e\n"},{"name":"Loyalties","description":"\u003cp\u003eLoyalty Program is related to business.\u003c/p\u003e\n\u003cp\u003eThese are the terminology of loyalty\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eCustomer and Merchant\u003c/b\u003e\n  \u003cp\u003eMerchant is the owner of a business, and a user of Moka App. Customer will do transactions to merchant. There are 2 kind of customers, loyalty and non-loyalty.\u003c/p\u003e\n  \u003cp\u003eA loyalty customer must have phone number\u003c/p\u003e\n\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eWhen a merchant create a loyalty, he needs to first create a program. Currently we support 2 programs\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003eGain points from money you spent (Rp/IDR amount)\u003c/li\u003e\n  \u003cli\u003eGain points from item you bought\u003c/li\u003e\n\u003c/ol\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram Rules/Earning Rules\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eThis is how a loyalty member get points. For example, by spending 1,000 IDR you get 1 points loyalty. Also, new member can get initial point reward when joining loyalty program\u003c/p\u003e\n\u003cp\u003e\n  \u003cb\u003eProgram Rewards\u003c/b\u003e\n\u003c/p\u003e\n\u003cp\u003eYou can get these following rewards configuration:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003e% discount on total sale. You will get % price cut based on total calculation of a transaction.\u003c/li\u003e\n  \u003cli\u003eRp discount on total sale. You will get Rp discount based on total calculation of a transaction.\u003c/li\u003e\n  \u003cli\u003e% discount on specific item. You will get % price cut of a item.\u003c/li\u003e\n\u003c/ol\u003e\n\u003cp\u003e\n  \u003cb\u003eCustomer validation code\u003c/b\u003e\n  \u003cp\u003eValidate customer phone number by sending validation code\u003c/p\u003e\n\u003c/p\u003e\n"},{"name":"Advanced Orderings","description":"\u003cp\u003eAdvanced orderings is an API that forwards the data to our mobile application. Using this API, 3rd party app can create a checkout using Moka\u003c/p\u003e\n\u003cp\u003eThere are various 3rd party which can consume this API, for example food delivery app and e-commerce.\u003c/p\u003e\n\u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/business-flow.png' height='500'/\u003e\n\u003cp\u003eThe diagram can be described as follows:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003e3rd party app create order using Moka external API\u003c/li\u003e\n  \u003cli\u003eMoka system will forward the data into Moka mobile\u003c/li\u003e\n  \u003cli\u003eCashier will decide whether the order can be fulfilled or not. If the order can be fulfilled, the cashier will \u003cb\u003eaccept order\u003c/b\u003e. If it is not, the cashier will \u003cb\u003ecancel order\u003c/b\u003e.\u003c/li\u003e\n  \u003cli\u003eDepending on situation, Moka will give notification either `accept order` or `cancel order`\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003eIf you are food delivery\u003c/b\u003e, you can start searching for driver. Invoke Moka API for sending the driver data to Moka. The data will be forwarded to Moka app\u003c/li\u003e\n  \u003cli\u003e\u003cb\u003eIf you are e-commerce\u003c/b\u003e, cashier will give data about the expedition number. Moka will send notification regarding expedition data to 3rd party app\u003c/li\u003e\n  \u003cli\u003eCashier will complete order. With this operation, the order data will be treated as Moka's checkout data (It will deduct inventory data of merchant and add transaction in Moka's dashboard). Also,\n          3rd party app will be notified.\u003c/li\u003e\n\u003c/ol\u003e\n\u003ch2\u003eCallbacks\u003c/h2\u003e\n\u003cp\u003eMoka will notify 3rd party app when there is some operation related to advanced ordering\u003c/p\u003e\n\u003ctable\u003e\n  \u003ctr\u003e\n    \u003cth\u003eEvent\u003c/th\u003e\n    \u003cth\u003eDescription\u003c/th\u003e\n    \u003cth style='min-width: 50%'\u003eExample Body\u003c/th\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eAccept Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier accept the order, and decided to fulfill the order.\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"accepted\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eComplete Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier complete the order\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"completed\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eCancel Order\u003c/td\u003e\n    \u003ctd\u003e\n      The cashier cancel the order. \n      \u003cbr\u003e\u003c/br\u003e\n      \u003cbr\u003eNote: Any order cancelled by cashier, its status will be changed into \"rejected\"\u003c/br\u003e\n    \u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"status\": \"rejected\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n  \u003ctr\u003e\n    \u003ctd\u003eUpdate Expedition Order\u003c/td\u003e\n    \u003ctd\u003eThe cashier input the expedition\u003c/td\u003e\n    \u003ctd\u003e\n      \u003ccode\u003e\n        POST /your-callback-url\u003cbr/\u003e\n        {\u003cbr/\u003e\n          \"outlet_id\": 123,\u003cbr/\u003e\n          \"application_order_id\": \"IOS-123456\",\u003cbr/\u003e\n          \"name\": \"MokaExpress\",\u003cbr/\u003e\n          \"airway_bill_number\": \"AMG-123456\"\u003cbr/\u003e\n        }\n      \u003c/code\u003e\n    \u003c/td\u003e\n  \u003c/tr\u003e\n\u003c/table\u003e\n\u003ch3\u003eStep-by-Step Guide to Integrate Utilizing Advanced Orderings API\u003c/h3\u003e\n\u003cp\u003ePlease refer to Advanced Orderings \u003ca target=\"_blank\" href='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/documents/Advanced+Ordering+-+Getting+Started.pdf'\u003eGetting Started\u003c/a\u003e doc to learn more about the requirements for the integration process.\u003c/p\u003e\n"},{"name":"Oauth","description":"\u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/auth-flow.png' height='400'/\u003e\n\u003cp\u003eThe flows is described as follows:\u003c/p\u003e\n\u003col\u003e\n  \u003cli\u003eThe owner of business (which uses Moka) open the \u003cb\u003eApp Market\u003c/b\u003e\u003c/li\u003e\n  \u003cli\u003eThe owner see list of apps available in Moka\u003c/li\u003e\n  \u003cli\u003eThe user click \u003cb\u003eget started\u003c/b\u003e to authorize the application\u003c/li\u003e\n  \u003cli\u003eThe backoffice redirect the user to the \u003cb\u003eauthorization page\u003c/b\u003e\u003c/li\u003e\n  \u003cli\u003eThe \u003cb\u003eauthorization\u003c/b\u003e page shows modal to owner\u003c/li\u003e\n  \u003cli\u003eThe owner then click allow if they permit the requested permissions.\u003c/li\u003e\n  \u003cli\u003eThe owner will be redirected to the 3rd party application, with the temporary grant token named `code` as query parameter. At this point, owner will access page in 3rd party app.\u003c/li\u003e\n  \u003cli\u003e3rd party app need to exchange temporary token `code` into access token, using the `/oauth/token` API\u003c/li\u003e\n  \u003cli\u003eMoka server will return access token that can be used by 3rd party app to fetch data\u003c/li\u003e\n  \u003cli\u003e3rd party app can start to access the API\u003c/li\u003e\n\u003c/ol\u003e\n"},{"name":"Checkout API","description":"\u003cp\u003eCheckout API is an API that allows merchants to send the transaction data from external source to Moka’s Backoffice.\u003c/p\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/checkout_api_flow.png' height='100'/\u003e \u003cp\u003eIf the transaction includes discounted item, there are some restrictions to follow:\u003c/p\u003e \u003col\u003e \u003cli\u003eIf it is a \u003cb\u003ecash discount\u003c/b\u003e, the information should be passed in the discount block\u003c/li\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/discount_cash_white.png' height='200'/\u003e \u003c/li\u003e \u003cli\u003eIf it is a \u003cb\u003epercentage discount\u003c/b\u003e, the information should be passed in the item block based on the item that contains the discount\u003c/li\u003e \u003cimg src='https://i.gojekapi.com/darkroom/moka/v2/images/static/open-platform/api-docs/discount_percentage_white.png' height='200'/\u003e \u003c/ol\u003e"},{"name":"Modification","description":"\u003cp\u003eAPI for modification are API that allows merchants to supdate data to Moka’s Backoffice.\u003c/p\u003e"}],"x-tagGroups":[{"name":"Introduction","tags":["Getting Started","Types of Moka Apps","Authentication","Changelog"]},{"name":"Oauth","tags":["Oauth","Subscription"]},{"name":"Checkout","tags":["Advanced Orderings","Checkout API"]},{"name":"Modification","tags":["Item Adjustment"]},{"name":"Get Merchant Profile","tags":["Business","Customers","Loyalties","Outlet","Users","Quota"]},{"name":"Read Library","tags":["Categories","Discounts","Favorites","Gratuities","Items","Modifiers","Taxes","Purchase Order","Sales Type","Promos","Bundle Package"]},{"name":"Read Ingredient","tags":["Ingredient Categories","Ingredient Library"]},{"name":"Read Inventory","tags":["Item Summaries"]},{"name":"Read Transaction","tags":["Invoices","Latest Transaction","Transaction","Sync Bills"]},{"name":"Get Reports","tags":["Category Sales","Collector Sales","Modifier Sales","Discount Sales","Tax Sales","Gratuity Sales","Server Sales","Item Sales","Sales summary","Payment Methods"]}],"paths":{"/v4/outlets/{outlet_id}/reports/get_latest_transactions":{"get":{"produces":["application/json"],"responses":{"401":{"description":"The access token is invalid","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":401,"error_message":"The access token is invalid","error_type":"Doorkeeper::OAuth::InvalidTokenResponse"}}}},"410":{"description":"API Deprecated","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":410,"error_message":"Service Deprecated","error_type":"ApiErrors::TerminatedEndPoint"}}}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":500,"error_message":"Internal Server Error","error_type":"Exception"}}}},"403":{"description":"Access token valid, but is denied to access the resource. Or, the merchant`s outlet is expired.","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"scope_not_granted":{"value":{"data":null,"meta":{"code":403,"error_message":"The token isn't granted at least one of these scopes: the_related_scope_here","error_type":"Doorkeeper::OAuth::ForbiddenTokenResponse"}},"summary":"The token is not granted specific scope"},"expired_outlet":{"value":{"data":null,"meta":{"code":403,"error_message":"Outlet Griffith Padilla (ID:27686) has been expired. Owner must renew the subscription by logging in to Moka's Back-Office.","error_type":"ApiErrors::OutletExpiredError"}},"summary":"The outlet is expired, and cannot be accessed"}}}}},"400":{"description":"Bad parameter","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":400,"error_message":"param is missing or the value is empty: end","error_type":"ActionController::ParameterMissing"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"must_application_json":{"value":{"data":null,"meta":{"code":415,"error_message":"Please use 'Content-Type: application/json' as your http headers","error_type":"ApiErrors::SetApplicationJsonAsContentTypeError"}},"summary":"You must specify application/json as the Content-Type in HTTP headers"}}}}},"200":{"description":"Latest transactions response","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"next_url":{"type":"string"},"completed":{"type":"boolean"},"payments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"payment_no":{"type":"I7I91H"},"payment_type":{"type":"string"},"amount_pay":{"type":"number"},"amount_change":{"type":"number"},"total_discount_amount":{"type":"number"},"total_gratuity_amount":{"type":"number"},"total_item_price_amount":{"type":"number"},"total_tax_amount":{"type":"number"},"total_checkouts_amount":{"type":"number"},"is_refunded":{"type":"boolean"},"refunded_reason":{"type":"string"},"refunded_date":{"type":"string"},"business_id":{"type":"integer"},"customer_id":{"type":"integer"},"discount_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"total_custom_price_amount":{"type":"number"},"include_gratuity_tax":{"type":"boolean"},"parent_payment_id":{"type":"integer"},"refund_amount":{"type":"number"},"refund_type":{"type":"string"},"card_no":{"type":"string"},"created_by":{"type":"integer"},"note":{"type":"string"},"total_collected_amount":{"type":"number"},"server_id":{"type":"integer"},"server_name":{"type":"string"},"server_title":{"type":"string"},"auth_code":{"type":"string"},"cc_name":{"type":"string"},"card_type":{"type":"string"},"transaction_number":{"type":"string"},"transaction_reference":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"synchronized_at":{"type":"string"},"uniq_id":{"type":"string"},"transaction_certificate":{"type":"string"},"transaction_status_info":{"type":"string"},"merchant_id":{"type":"string"},"mpos_device_id":{"type":"string"},"pg_mid":{"type":"string"},"pg_setting":{"type":"string"},"order_info":{"type":"string"},"tvr":{"type":"string"},"cvm_result":{"type":"string"},"aid":{"type":"string"},"transaction_date":{"type":"string"},"pii":{"type":"string"},"collected_by":{"type":"string"},"shift_id":{"type":"integer"},"invoice_no":{"type":"string"},"invoice_deposit_amount":{"type":"integer"},"invoice_due_date":{"type":"string"},"invoice_status":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"refund_ids":{"type":"string"},"total_gross_sales":{"type":"number"},"total_net_sales":{"type":"number"},"is_refund_breakdown":{"type":"boolean"},"customer_name":{"type":"string"},"customer_email":{"type":"string"},"customer_phone":{"type":"string"},"subtotal":{"type":"number"},"creator_name":{"type":"string"},"table_name":{"type":"string"},"collector_id":{"type":"integer"},"cashlezz_transaction_id":{"type":"string"},"sms_id":{"type":"string"},"receipt_count":{"type":"integer"},"order_id":{"type":"string"},"is_loyalty":{"type":"boolean"},"total_redeem_amount":{"type":"number"},"is_offline":{"type":"boolean"},"is_sales_type":{"type":"boolean"},"server_created_at":{"type":"string"},"total_rounding_amount":{"type":"number","description":"Total rounding amount from a payment. If null then the rounding is not applied in the transaction"},"bill_id":{"type":"integer"},"tax_type":{"type":"string"},"grauity_type":{"type":"string"},"uuid":{"type":"string"},"parent_payment_uuid":{"type":"string"},"outlet_name":{"type":"string","description":"Name of the outlet"},"payment_taxes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"integer"},"total":{"type":"number"},"taxable_amount":{"type":"number"},"payment_id":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"tax_id":{"type":"integer"}}}},"payment_gratuities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"amount":{"type":"number"},"total":{"type":"number"},"payment_id":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"gratuity_id":{"type":"string"}}}},"payment_discounts":{"type":"array","items":{"type":"object","description":"Discount applied to payment","properties":{"id":{"type":"integer"},"payment_id":{"type":"integer"},"discount_id":{"type":"integer"},"discount_amount":{"type":"number"},"discount_name":{"type":"string"},"discount_type":{"type":"string"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"discount_cash":{"type":"number"}}}},"payment_refunds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"status":{"type":"string"},"payment_no":{"type":"I7I91H"},"payment_type":{"type":"string"},"amount_pay":{"type":"number"},"amount_change":{"type":"number"},"total_discount_amount":{"type":"number"},"total_gratuity_amount":{"type":"number"},"total_item_price_amount":{"type":"number"},"total_tax_amount":{"type":"number"},"total_checkouts_amount":{"type":"number"},"is_refunded":{"type":"boolean"},"refunded_reason":{"type":"string"},"refunded_date":{"type":"string"},"business_id":{"type":"integer"},"customer_id":{"type":"integer"},"discount_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"total_custom_price_amount":{"type":"number"},"include_gratuity_tax":{"type":"boolean"},"parent_payment_id":{"type":"integer"},"refund_amount":{"type":"number"},"refund_type":{"type":"string"},"card_no":{"type":"string"},"created_by":{"type":"integer"},"note":{"type":"string"},"total_collected_amount":{"type":"number"},"server_id":{"type":"integer"},"server_name":{"type":"string"},"server_title":{"type":"string"},"auth_code":{"type":"string"},"cc_name":{"type":"string"},"card_type":{"type":"string"},"transaction_number":{"type":"string"},"transaction_reference":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"synchronized_at":{"type":"string"},"uniq_id":{"type":"string"},"transaction_certificate":{"type":"string"},"transaction_status_info":{"type":"string"},"merchant_id":{"type":"string"},"mpos_device_id":{"type":"string"},"pg_mid":{"type":"string"},"pg_setting":{"type":"string"},"order_info":{"type":"string"},"tvr":{"type":"string"},"cvm_result":{"type":"string"},"aid":{"type":"string"},"transaction_date":{"type":"string"},"pii":{"type":"string"},"collected_by":{"type":"string"},"shift_id":{"type":"integer"},"invoice_no":{"type":"string"},"invoice_deposit_amount":{"type":"integer"},"invoice_due_date":{"type":"string"},"invoice_status":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"refund_ids":{"type":"string"},"total_gross_sales":{"type":"number"},"total_net_sales":{"type":"number"},"is_refund_breakdown":{"type":"boolean"},"customer_name":{"type":"string"},"customer_email":{"type":"string"},"customer_phone":{"type":"string"},"subtotal":{"type":"number"},"creator_name":{"type":"string"},"table_name":{"type":"string"},"collector_id":{"type":"integer"},"cashlezz_transaction_id":{"type":"string"},"sms_id":{"type":"string"},"receipt_count":{"type":"integer"},"order_id":{"type":"string"},"is_loyalty":{"type":"boolean"},"total_redeem_amount":{"type":"number"},"is_offline":{"type":"boolean"},"is_sales_type":{"type":"boolean"},"server_created_at":{"type":"string"},"total_rounding_amount":{"type":"number","description":"Total rounding amount from a payment. If null then the rounding is not applied in the transaction"}}}},"checkouts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"custom_amount":{"type":"number"},"item_variant_id":{"type":"integer"},"quantity":{"type":"integer"},"discount_amount":{"type":"number"},"tax_amount":{"type":"number"},"business_id":{"type":"integer"},"payment_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"item_id":{"type":"integer"},"item_discount":{"type":"integer"},"item_price_library":{"type":"number"},"item_price":{"type":"number"},"item_price_discount":{"type":"number"},"gratuity_amount":{"type":"number"},"item_price_discount_gratuity":{"type":"integer","format":"int64"},"total_price":{"type":"number"},"item_price_quantity":{"type":"number"},"category_name":{"type":"string"},"category_id":{"type":"integer"},"item_name":{"type":"string"},"item_variant_name":{"type":"string"},"sku":{"type":"string"},"note":{},"cogs":{"type":"number"},"gross_sales":{"type":"number"},"outlet_id":{"type":"integer"},"position":{"type":"integer"},"net_sales":{"type":"number"},"track_stock":{"type":"boolean"},"item_image":{"type":"string"},"parent_checkout_id":{},"is_recipe":{"type":"boolean"},"redeem_amount":{"type":"number"},"sales_type_id":{"type":"boolean"},"sales_type_name":{"type":"number"},"principal_id":{"type":"integer"},"principal_name":{"type":"string"},"checkout_modifiers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"checkout_id":{"type":"integer"},"modifier_id":{"type":"integer"},"modifier_option_id":{"type":"integer"},"modifier_name":{"type":"string"},"modifier_option_name":{"type":"string"},"price":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"cogs":{"type":"integer","format":"int64"},"outlet_id":{"type":"integer"},"payment_id":{"type":"integer"},"discount_amount":{"type":"integer"},"gross_sales":{"type":"number"},"net_sales":{"type":"number"},"discount_hash":{"type":"string"},"redeem_amount":{"type":"number"}}}},"checkout_discounts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"discount_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"checkout_id":{"type":"integer"},"discount_amount":{"type":"integer"},"discount_name":{"type":"string"},"discount_type":{"type":"string"},"discount_percentage":{"type":"integer"},"payment_id":{"type":"integer"},"discount_hash":{"type":"object"}}}}}}},"promos":{"type":"array","description":"List of promo item","items":{"description":"Promo data","properties":{"business_id":{"type":"integer","example":1678},"outlet_id":{"type":"integer","example":2604},"payment_id":{"type":"integer","example":336797},"promo_type_id":{"type":"integer","example":1},"promo_id":{"type":"integer","example":930},"promo_name":{"type":"string","example":"Sirloin free MashedPotato"},"reward_discount_type":{"type":"string","example":"FREE"},"reward_amount":{"type":"integer","example":100},"count":{"type":"integer","example":1},"gross":{"type":"integer","example":0},"refunded_from":{"type":"integer","example":6125},"created_at":{"type":"string","example":"2018-12-17T10:47:08Z"},"items":{"type":"array","items":{"description":"Promo Items","properties":{"payment_promo_id":{"type":"integer","example":6128},"checkout_id":{"type":"integer","example":366987},"amount":{"type":"integer","example":1},"category_id":{"type":"integer","example":24549},"category_name":{"type":"integer","example":"Pizza"},"item_id":{"type":"integer","example":"Pizza"},"item_name":{"type":"integer","example":"Sirloin"},"item_variant_id":{"type":"integer","example":1085288},"item_variant_name":{"type":"string","example":"250"},"promo_item_status":{"type":"string","description":"Promo item status. Can be REQUIREMENT, or REWARD","example":"REQUIREMENT"},"promo_requirement_id":{"type":"string","example":1225},"promo_reward_id":{"type":"integer","example":123},"total_rewarded":{"type":"integer","example":0}}}}}}},"parent_promos":{"type":"array","description":"List of parent promo item based on the parent transaction. If the transaction is a refund, then this field refers to promo of the original payment (parent_payment_id field). If this transaction is not refund, then this value is ignored.","items":{"description":"Promo data","properties":{"business_id":{"type":"integer","example":1678},"outlet_id":{"type":"integer","example":2604},"payment_id":{"type":"integer","example":336797},"promo_type_id":{"type":"integer","example":1},"promo_id":{"type":"integer","example":930},"promo_name":{"type":"string","example":"Sirloin free MashedPotato"},"reward_discount_type":{"type":"string","example":"FREE"},"reward_amount":{"type":"integer","example":100},"count":{"type":"integer","example":1},"gross":{"type":"integer","example":0},"refunded_from":{"type":"integer","example":6125},"created_at":{"type":"string","example":"2018-12-17T10:47:08Z"},"items":{"type":"array","items":{"description":"Promo Items","properties":{"payment_promo_id":{"type":"integer","example":6128},"checkout_id":{"type":"integer","example":366987},"amount":{"type":"integer","example":1},"category_id":{"type":"integer","example":24549},"category_name":{"type":"integer","example":"Pizza"},"item_id":{"type":"integer","example":"Pizza"},"item_name":{"type":"integer","example":"Sirloin"},"item_variant_id":{"type":"integer","example":1085288},"item_variant_name":{"type":"string","example":"250"},"promo_item_status":{"type":"string","description":"Promo item status. Can be REQUIREMENT, or REWARD","example":"REQUIREMENT"},"promo_requirement_id":{"type":"string","example":1225},"promo_reward_id":{"type":"integer","example":123},"total_rewarded":{"type":"integer","example":0}}}}}}},"loyalty":{"type":"object","properties":{"payment_uuid":{"type":"string","description":"UUID of the payment transaction"},"parent_payment_uuid":{"type":"string","nullable":true,"description":"UUID of the parent payment transaction"},"type":{"type":"string","description":"Type of loyalty transaction (EARNING, REDEMPTION)"},"current_balance":{"type":"integer","description":"Current loyalty points balance before transaction"},"new_member_points":{"type":"integer","description":"New member bonus points"},"new_earned_points":{"type":"integer","description":"Points earned in this transaction"},"point_correction":{"type":"integer","description":"Point correction adjustment"},"closing_balance":{"type":"integer","description":"Loyalty points balance after transaction"},"member_id":{"type":"integer","description":"Member ID in loyalty program"},"earning_rule":{"type":"object","description":"Earning rule applied to the transaction","properties":{"id":{"type":"integer","description":"Earning rule ID"},"type":{"type":"string","description":"Type of earning rule (SPENDING, ITEM, SPENDING_PRINCIPAL, SKU_QUANTITY, SKU_AMOUNT)"},"point":{"type":"number","description":"Points earned per unit amount"},"amount":{"type":"number","description":"Amount used for points calculation"}}},"redemption":{"type":"array","description":"List of redemption transactions","items":{"type":"object","properties":{"redeem_id":{"type":"integer","description":"Redemption transaction ID"},"outlet_id":{"type":"integer","description":"Outlet ID where redemption occurred"},"outlet_name":{"type":"string","description":"Outlet name"},"payment_uuid":{"type":"string","description":"Payment UUID for redemption"},"parent_payment_uuid":{"type":"string","nullable":true,"description":"Parent payment UUID"},"discount":{"type":"number","description":"Discount amount or percentage"},"discount_type":{"type":"string","description":"Type of discount (PERCENTAGE, AMOUNT)"},"max_discount_amount":{"type":"number","nullable":true,"description":"Maximum discount amount allowed"},"min_purchase_amount":{"type":"number","nullable":true,"description":"Minimum purchase amount required"},"initial_points":{"type":"integer","description":"Points balance before redemption"},"redeem_points":{"type":"integer","description":"Points used for redemption"},"closing_point_balance":{"type":"integer","description":"Points balance after redemption"},"redeem_amount":{"type":"number","description":"Amount of redemption discount"},"reward":{"type":"string","description":"Reward description"},"reward_type":{"type":"string","description":"Type of reward (TOTAL_SALES, ITEM, CATEGORY, PRINCIPAL)"},"reward_id":{"type":"integer","description":"Reward ID"},"created_at":{"type":"string","format":"date_time","description":"Redemption creation timestamp"},"synchronized_at":{"type":"string","format":"date_time","description":"Synchronization timestamp"},"created_by":{"type":"string","description":"User who created the redemption"}}}}}}}}}}},"meta":{"$ref":"#/definitions/MetadataProperty"}}},"examples":{"application/json":{"data":{"next_url":"https://api.mokapos.com/v4/outlets/2239/reports/get_latest_transactions?per_page=50\u0026mobile_device=true\u0026since=0.0\u0026until=1486361995.147691\u0026access_token=c10f32248339697b2ebb0e2aaa1e4159d02501c69560218e52d010e4782867d6","completed":false,"payments":[{"id":"63428a08-86a8-4f64-915a-d2fd2c6e076a","payment_no":"6H7DDA1","created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:09:59.496155+07:00","parent_payment_created_at":"2022-10-20T15:09:59.496155+07:00","total_collected":92000,"total_item_price_amount":0,"name":"Ice Cappucino","parent_payment_id":"63428a08-86a8-4f64-915a-d2fd2c6e076a","payment_type":"cash","payment_type_label":"Cash","customer_id":null,"payment_note":null,"discounts":11400,"subtotal":52600,"gratuities":21040,"taxes":18410,"tendered":100000,"change":8000,"include_gratuity_tax":false,"enable_tax":true,"enable_gratuity":true,"card_type":null,"card_no":null,"transaction_date":"20 Oct 2022","transaction_time":"03 : 09 PM","collected_by":"Shintaaaa12 Shintaaaa","served_by":"Shintaaaa12 Shintaaaa","synchronized_at":"2022-10-20T15:10:04.625000+07:00","outlet_id":4522,"outlet_name":"Outlet 1","pg_mid":null,"mpos_device_id":null,"transaction_certificate":null,"transaction_status_info":null,"mpos_transaction_date":null,"merchant_id":null,"transaction_reference":null,"transaction_number":null,"order_info":null,"cc_name":null,"pii":null,"guid":"AE074E8E-2E7C-4AB2-9AF3-97C514168132","uniq_id":"141","invoice_due_date":null,"invoice_no":null,"invoice_deposit_amount":null,"invoice_payment_records":null,"payment_discounts":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:09:48.755429+07:00","uuid":"ab559058-784f-4e83-b27d-1e91bcac7a27","discount_percentage":0,"payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","discount_id":429550,"discount_name":"Rupiah Ini","discount_amount":5000.0,"discount_type":"cash","discount_cash":5000.0,"is_deleted":null}],"payment_taxes":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:10:04.645000+07:00","amount":10.0,"tax_id":40475,"payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","uuid":"b55d8842-5b07-4f5c-ab64-7ee8663d9546","taxable_amount":73640.0,"total":7364.0,"name":"Tax"}],"payment_gratuities":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:10:04.645000+07:00","uuid":"29adcaac-fe69-41a5-9ac1-d4a2f9b1c8a0","name":"Frea","amount":25.0,"total":13150.0,"payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","gratuity_id":592604}],"checkouts":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:10:04.625000+07:00","item_discount":0,"parent_checkout_uuid":null,"uuid":"c1d8102b-7612-4ac6-a041-6e7a8b029820","gross_sales":64000.0,"item_name":"Ice Cappucino","refunded_quantity":1,"item_id":1181590,"sales_type_name":"Kaki lima","tax_amount":18410.0,"item_variant_name":"","is_deleted":false,"track_stock":false,"payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","is_program_item":false,"sales_type_id":807678,"item_variant_id":1784869,"item_price_library":64000.0,"category_name":"Beverage","position":0,"net_sales":52600.0,"cogs":0.0,"sku":"","is_recipe":false,"redeem_amount":0.0,"quantity":1,"price":64000.0,"item_price_discount":52600.0,"item_price_discount_gratuity":0,"custom_amount":0.0,"business_id":4011,"item_price":64000.0,"total_price":52600.0,"outlet_id":4522,"item_image":"","category_id":94185,"item_price_quantity":64000.0,"discount_amount":11400.0,"gratuity_amount":21040.0,"note":null,"principal_id":367,"principal_name":"Unilever","gratuities":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:10:04.625000+07:00","uuid":"5a29e11f-726a-4b5e-ba90-a7c9807fce33","gratuity_name":"Service ","amount":5.0,"total":2630.0,"checkout_uuid":"c1d8102b-7612-4ac6-a041-6e7a8b029820","gratuity_id":172881,"sales_type_id":807678,"sales_type_name":"Kaki lima"}],"discounts":[{"discount_id":429550,"discount_type":"cash","discount_name":"Rupiah Ini","discount_percentage":0.0,"discount_cash":5000,"discount_amount":5000}],"modifiers":[{"created_at":"2022-10-20T15:09:59.496155+07:00","updated_at":"2022-10-20T15:09:01.826069+07:00","uuid":"6ff0bd8f-77f2-491f-b6f5-303ac3defe10","gross_sales":2000.0,"net_sales":1643.75,"modifier_id":16682,"payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","discount_amount":356.25,"modifier_option_name":"Manis 2","price":2000,"modifier_name":"Topping Manis","modifier_option_id":94449,"cogs":null,"checkout_uuid":"c1d8102b-7612-4ac6-a041-6e7a8b029820","outlet_id":4522,"redeem_amount":0.0,"discounts":[{"created_at":"2022-10-20T15:09:48.755913+07:00","updated_at":"2022-10-20T15:09:48.755913+07:00","discount_id":429550,"discount_amount":156.25,"discount_name":"Rupiah Ini","discount_type":"cash","discount_percentage":0.0,"discount_cash":5000,"discount_guid":null}]}],"bundle_id":null,"item_type":null}],"payment_refunds":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.000000+07:00","transaction_reference":null,"amount_pay":0,"business_id":4011,"pii":null,"longitude":106.70048647,"include_gratuity_tax":false,"refunded_reason":"Cancelled Order","total_discount_amount":-11400,"collected_by":"Shintaaaa12 Shintaaaa","created_by":5658,"uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","auth_code":null,"creator_name":"Shintaaaa12 Shintaaaa","is_sales_type":true,"refund_amount":92000,"pg_setting":null,"server_name":"Shintaaaa12 Shintaaaa","refund_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","total_collected_amount":-92000,"server_title":"Owner","customer_name":"","invoice_due_date":null,"cashlezz_transaction_id":null,"latitude":-6.33664033,"mpos_transaction_date":null,"is_refunded":true,"collector_id":null,"transaction_status_info":null,"guid":"1a7b64af-52c0-4dbd-9b07-a897a36b5848","note":"","receipt_count":0,"bill_id":null,"customer_email":"","transaction_date":"20 Oct 2022","total_redeem_amount":0,"synchronized_at":"2022-10-20T15:10:53.356000+07:00","outlet_id":4522,"invoice_deposit_amount":null,"cvm_result":null,"refunded_by":"Shintaaaa12 Shintaaaa","uniq_id":"0","sms_id":null,"order_info":null,"subtotal":-52600,"table_name":"","total_custom_price_amount":0,"total_item_price_amount":0,"cc_name":null,"transaction_time":"03 : 10 PM","server_id":5658,"pg_mid":null,"payment_type":"cash","is_offline":null,"discount_id":null,"card_type":null,"payment_no":"6H7DDA1","merchant_id":null,"customer_phone":"","amount_change":0,"shift_id":null,"card_no":null,"total_gross_sales":-64000,"total_rounding_amount":50,"total_net_sales":-52600,"status":"Done","mpos_device_id":null,"transaction_certificate":null,"refunded_at":"2022-10-20T15:10:53.000000+07:00","total_tax_amount":-18410,"refunded_date":"2022-10-20T15:10:53.357000+07:00","total_gratuity_amount":-21040,"customer_id":null,"transaction_number":null,"is_deleted":false,"tvr":null,"invoice_no":null,"is_refund_breakdown":true,"aid":null,"server_created_at":"2022-10-20T15:10:53.359000+07:00","refund_type":"full","parent_payment_uuid":"63428a08-86a8-4f64-915a-d2fd2c6e076a","order_id":null,"total_checkouts_amount":-41150,"is_loyalty":false,"invoice_status":null,"checkouts":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.356000+07:00","item_discount":0,"parent_checkout_uuid":"c1d8102b-7612-4ac6-a041-6e7a8b029820","uuid":"ec36ac68-c7d5-495c-91c5-4684a364cb69","gross_sales":-64000.0,"item_name":"Ice Cappucino","refunded_quantity":0,"item_id":1181590,"sales_type_name":"Kaki lima","tax_amount":-18410.0,"item_variant_name":"","is_deleted":false,"track_stock":false,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","is_program_item":false,"sales_type_id":807678,"item_variant_id":1784869,"item_price_library":64000.0,"category_name":"Beverage","position":0,"net_sales":-52600.0,"cogs":0.0,"sku":"","is_recipe":false,"redeem_amount":0.0,"quantity":-1,"price":-64000.0,"item_price_discount":-52600.0,"item_price_discount_gratuity":0,"custom_amount":0.0,"business_id":4011,"item_price":64000.0,"total_price":-52600.0,"outlet_id":4522,"item_image":"","category_id":94185,"item_price_quantity":-64000.0,"discount_amount":-11400.0,"gratuity_amount":-21040.0,"note":null,"principal_id":367,"principal_name":"Unilever","gratuities":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.356000+07:00","uuid":"c1e966db-a147-40d6-9dc0-cf77be090c24","gratuity_name":"Gratuity","amount":10.0,"total":-5260.0,"checkout_uuid":"ec36ac68-c7d5-495c-91c5-4684a364cb69","gratuity_id":46185,"sales_type_id":807678,"sales_type_name":"Kaki lima"}],"discounts":[{"created_at":null,"updated_at":null,"discount_id":429549,"discount_amount":-6400,"discount_name":"Percent Lah Cok","discount_type":"percentage","discount_percentage":10.0,"discount_cash":0,"discount_guid":null},{"created_at":null,"updated_at":null,"discount_id":429550,"discount_amount":-5000,"discount_name":"Rupiah Ini Cok","discount_type":"cash","discount_percentage":0.0,"discount_cash":5000,"discount_guid":null}],"modifiers":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.327000+07:00","id":0,"uuid":"17b77b97-6d81-4ad9-90da-6636a9b202a3","gross_sales":1000.0,"net_sales":821.875,"modifier_id":16682,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","discount_amount":178.125,"modifier_option_name":"Manis 1","price":1000,"modifier_name":"Topping Manis","modifier_option_id":94448,"cogs":null,"checkout_uuid":"ec36ac68-c7d5-495c-91c5-4684a364cb69","outlet_id":4522,"redeem_amount":0.0,"discounts":[{"created_at":"2022-10-20T15:09:48.755913+07:00","updated_at":"2022-10-20T15:09:48.755913+07:00","discount_id":429550,"discount_amount":78.125,"discount_name":"Rupiah Ini","discount_type":"cash","discount_percentage":0.0,"discount_cash":5000,"discount_guid":null}]},{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.327000+07:00","id":0,"uuid":"40dbaed5-6cca-4c03-ae5b-c41d379a002d","gross_sales":2000.0,"net_sales":1643.75,"modifier_id":16682,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","discount_amount":356.25,"modifier_option_name":"Manis 2","price":2000,"modifier_name":"Topping Manis","modifier_option_id":94449,"cogs":null,"checkout_uuid":"ec36ac68-c7d5-495c-91c5-4684a364cb69","outlet_id":4522,"redeem_amount":0.0,"discounts":[{"created_at":"2022-10-20T15:09:48.755913+07:00","updated_at":"2022-10-20T15:09:48.755913+07:00","discount_id":429550,"discount_amount":156.25,"discount_name":"Rupiah Ini","discount_type":"cash","discount_percentage":0.0,"discount_cash":5000,"discount_guid":null}]},{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.327000+07:00","id":0,"uuid":"5b841201-7bab-44da-af93-f1c8a70ee855","gross_sales":11000.0,"net_sales":9040.625,"modifier_id":17042,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","discount_amount":1959.375,"modifier_option_name":"Kiwi","price":11000,"modifier_name":"Topping Buah","modifier_option_id":95340,"cogs":null,"checkout_uuid":"ec36ac68-c7d5-495c-91c5-4684a364cb69","outlet_id":4522,"redeem_amount":0.0,"discounts":[{"created_at":"2022-10-20T15:09:48.755913+07:00","updated_at":"2022-10-20T15:09:48.755913+07:00","discount_id":429550,"discount_amount":859.375,"discount_name":"Rupiah Ini","discount_type":"cash","discount_percentage":0.0,"discount_cash":5000,"discount_guid":null}]}],"bundle_id":null,"item_type":null}],"payment_gratuities":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.359000+07:00","uuid":"c12f9a6e-4f26-43c6-b4f7-06af63bde338","name":"Frea","amount":25.0,"total":-13150.0,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","gratuity_id":592604}],"payment_taxes":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":"2022-10-20T15:10:53.359000+07:00","amount":10.0,"tax_id":40475,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","id":0,"uuid":"120d4962-b30d-4a12-8b7f-6b9cab036be4","taxable_amount":-220920.0,"total":-18410.0,"name":"Tax"}],"payment_discounts":[{"created_at":"2022-10-20T15:10:53.000000+07:00","updated_at":null,"id":0,"uuid":"d870677a-b983-459d-ab30-3837731cf26a","discount_percentage":0,"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","discount_id":429550,"discount_name":"Rupiah Ini","discount_amount":-5000.0,"discount_type":"cash","discount_cash":5000.0,"is_deleted":null}],"tax_type":"AFTER_DISCOUNT","gratuity_type":"AFTER_DISCOUNT"}],"is_refund_breakdown":true,"total_refund":92000,"is_refunded":false,"refund_amount":0,"customer_name":null,"customer_phone":"","customer_email":"","table_name":"","total_rounding_amount":-50,"order_id":"141TH0006","loyalty":{"payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","parent_payment_uuid":null,"type":"REDEMPTION","current_balance":11000,"new_member_points":0,"new_earned_points":0,"point_correction":0,"closing_balance":10000,"member_id":25,"earning_rule":{"id":0,"type":"SPENDING","point":10,"amount":1000.0},"redemption":[{"redeem_id":217,"outlet_id":27726,"outlet_name":"Outlet 1","payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","parent_payment_uuid":null,"discount":35.0,"discount_type":"PERCENTAGE","max_discount_amount":null,"min_purchase_amount":null,"initial_points":11000,"redeem_points":1000,"closing_point_balance":10000,"redeem_amount":210000.0,"reward":"35 % Discount of Total Sale","reward_type":"TOTAL_SALES","reward_id":41,"created_at":"2017-10-17T09:36:00Z","synchronized_at":"2017-10-17T09:36:03.707Z","created_by":"Tutu Last"},{"redeem_id":218,"outlet_id":27726,"outlet_name":"Outlet 1","payment_uuid":"4856035c-a7d7-402c-8512-43f6dcbcf90a","parent_payment_uuid":null,"discount":20.0,"discount_type":"PERCENTAGE","max_discount_amount":null,"min_purchase_amount":null,"initial_points":10000,"redeem_points":500,"closing_point_balance":9500,"redeem_amount":105000.0,"reward":"20 % Discount of Total Sale","reward_type":"TOTAL_SALES","reward_id":42,"created_at":"2017-10-18T14:22:15Z","synchronized_at":"2017-10-18T14:22:18.321Z","created_by":"Cashier User"}]}}]}}}}},"security":[{"access_token":["report"]}],"description":"Return all sales transactions of an outlet sorted by newest one first. Required permissions: `transaction`","operationId":"showLatestTransactionsV4","tags":["Latest Transaction"],"parameters":[{"name":"outlet_id","description":"The merchant's outlet ID","in":"path","required":true,"type":"integer"},{"name":"per_page","in":"query","description":"Number of elements on a page","required":false,"type":"integer"},{"name":"since","in":"query","description":"The initial range of time in Epoch format","required":false,"type":"float"},{"name":"until","in":"query","description":"The ending range of time in Epoch format","required":false,"type":"float"},{"name":"time_filter","in":"query","description":"Type of fitler to be used by start and end parameters {created_at, updated_at, synchronized_at}","required":false,"type":"string"},{"name":"include_promo","in":"query","description":"Boolean to indicate whether Promo details are included in the response","required":false,"type":"boolean"},{"name":"exclude_bundle","in":"query","description":"Boolean to indicate whether Transaction with bundle package items are included in the response","required":false,"type":"boolean"},{"name":"reorder_type","in":"query","description":"Sort results in ascending or descending order {ASC, DESC}","required":false,"type":"string"}]}},"/v3/outlets/{outlet_id}/reports/item_sales":{"get":{"produces":["application/json"],"responses":{"401":{"description":"The access token is invalid","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":401,"error_message":"The access token is invalid","error_type":"Doorkeeper::OAuth::InvalidTokenResponse"}}}},"410":{"description":"API Deprecated","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":410,"error_message":"Service Deprecated","error_type":"ApiErrors::TerminatedEndPoint"}}}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":500,"error_message":"Internal Server Error","error_type":"Exception"}}}},"403":{"description":"Access token valid, but is denied to access the resource. Or, the merchant`s outlet is expired.","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"scope_not_granted":{"value":{"data":null,"meta":{"code":403,"error_message":"The token isn't granted at least one of these scopes: the_related_scope_here","error_type":"Doorkeeper::OAuth::ForbiddenTokenResponse"}},"summary":"The token is not granted specific scope"},"expired_outlet":{"value":{"data":null,"meta":{"code":403,"error_message":"Outlet Griffith Padilla (ID:27686) has been expired. Owner must renew the subscription by logging in to Moka's Back-Office.","error_type":"ApiErrors::OutletExpiredError"}},"summary":"The outlet is expired, and cannot be accessed"}}}}},"400":{"description":"Bad parameter","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":400,"error_message":"param is missing or the value is empty: end","error_type":"ActionController::ParameterMissing"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"must_application_json":{"value":{"data":null,"meta":{"code":415,"error_message":"Please use 'Content-Type: application/json' as your http headers","error_type":"ApiErrors::SetApplicationJsonAsContentTypeError"}},"summary":"You must specify application/json as the Content-Type in HTTP headers"}}}}},"200":{"description":"Item sales response","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"item_sales":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"sku":{"type":"string"},"category_name":{"type":"string"},"item_sold":{"type":"number"},"item_refunded":{"type":"number"},"gross_sales":{"type":"number"},"discount":{"type":"number"},"refund":{"type":"number"},"net_sales":{"type":"number"},"cogs":{"type":"number"},"redemption":{"type":"number"},"gross_profit":{"type":"number"}}}},"total_item_sold":{"type":"number"},"total_gross_sales":{"type":"number"},"total_discounts":{"type":"number"},"total_net_sales":{"type":"number"},"total_refund":{"type":"number"}}},"meta":{"$ref":"#/definitions/MetadataProperty"}}},"examples":{"application/json":{"data":{"item_sales":[{"name":"Tenderloin Local - 500","sku":"M.TL","category_name":"Steak","item_sold":2,"item_refunded":0,"gross_sales":142534.506,"discount":null,"refund":null,"net_sales":142534.506,"cogs":0,"redemption":null,"gross_profit":142534.506}],"total_item_sold":2,"total_gross_sales":142534.506,"total_discounts":0,"total_net_sales":142534.506,"total_refund":0},"meta":{"code":200,"errors":{}}}}}},"security":[{"access_token":["report"]}],"description":"Show item sales for selected date range on the selected outlet. Required permissions: `report`","operationId":"showItemSalesV3","tags":["Item Sales"],"parameters":[{"name":"outlet_id","description":"The merchant's outlet ID","in":"path","required":true,"type":"integer"},{"name":"start","in":"query","description":"Start date in DD/MM/YYYY format","required":false,"type":"float"},{"name":"end","in":"query","description":"End date in DD/MM/YYYY format","required":false,"type":"float"}]}},"/v3/outlets/{outlet_id}/reports/invoices":{"get":{"produces":["application/json"],"responses":{"401":{"description":"The access token is invalid","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":401,"error_message":"The access token is invalid","error_type":"Doorkeeper::OAuth::InvalidTokenResponse"}}}},"410":{"description":"API Deprecated","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":410,"error_message":"Service Deprecated","error_type":"ApiErrors::TerminatedEndPoint"}}}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":500,"error_message":"Internal Server Error","error_type":"Exception"}}}},"403":{"description":"Access token valid, but is denied to access the resource. Or, the merchant`s outlet is expired.","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"scope_not_granted":{"value":{"data":null,"meta":{"code":403,"error_message":"The token isn't granted at least one of these scopes: the_related_scope_here","error_type":"Doorkeeper::OAuth::ForbiddenTokenResponse"}},"summary":"The token is not granted specific scope"},"expired_outlet":{"value":{"data":null,"meta":{"code":403,"error_message":"Outlet Griffith Padilla (ID:27686) has been expired. Owner must renew the subscription by logging in to Moka's Back-Office.","error_type":"ApiErrors::OutletExpiredError"}},"summary":"The outlet is expired, and cannot be accessed"}}}}},"400":{"description":"Bad parameter","schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"application/json":{"data":{},"meta":{"code":400,"error_message":"param is missing or the value is empty: end","error_type":"ActionController::ParameterMissing"}}}},"415":{"description":"Unsupported Media Type","content":{"application/json":{"schema":{"$ref":"#/definitions/ErrorModel"},"examples":{"must_application_json":{"value":{"data":null,"meta":{"code":415,"error_message":"Please use 'Content-Type: application/json' as your http headers","error_type":"ApiErrors::SetApplicationJsonAsContentTypeError"}},"summary":"You must specify application/json as the Content-Type in HTTP headers"}}}}},"200":{"description":"Invoices response","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"invoices":{"type":"array","items":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"payment_no":{"type":"I7I91H"},"payment_type":{"type":"string"},"amount_pay":{"type":"number"},"amount_change":{"type":"number"},"total_discount_amount":{"type":"number"},"total_gratuity_amount":{"type":"number"},"total_item_price_amount":{"type":"number"},"total_tax_amount":{"type":"number"},"total_checkouts_amount":{"type":"number"},"is_refunded":{"type":"boolean"},"refunded_reason":{"type":"string"},"refunded_date":{"type":"string"},"business_id":{"type":"integer"},"customer_id":{"type":"integer"},"discount_id":{"type":"integer"},"is_deleted":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"total_custom_price_amount":{"type":"number"},"include_gratuity_tax":{"type":"boolean"},"parent_payment_id":{"type":"integer"},"refund_amount":{"type":"number"},"refund_type":{"type":"string"},"card_no":{"type":"string"},"created_by":{"type":"integer"},"note":{"type":"string"},"total_collected_amount":{"type":"number"},"server_id":{"type":"integer"},"server_name":{"type":"string"},"server_title":{"type":"string"},"auth_code":{"type":"string"},"cc_name":{"type":"string"},"card_type":{"type":"string"},"transaction_number":{"type":"string"},"transaction_reference":{"type":"string"},"outlet_id":{"type":"integer"},"guid":{"type":"string"},"synchronized_at":{"type":"string"},"uniq_id":{"type":"string"},"transaction_certificate":{"type":"string"},"transaction_status_info":{"type":"string"},"merchant_id":{"type":"string"},"mpos_device_id":{"type":"string"},"pg_mid":{"type":"string"},"pg_setting":{"type":"string"},"order_info":{"type":"string"},"tvr":{"type":"string"},"cvm_result":{"type":"string"},"aid":{"type":"string"},"transaction_date":{"type":"string"},"pii":{"type":"string"},"collected_by":{"type":"string"},"shift_id":{"type":"integer"},"invoice_no":{"type":"string"},"invoice_deposit_amount":{"type":"integer"},"invoice_due_date":{"type":"string"},"invoice_status":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"refund_ids":{"type":"string"},"total_gross_sales":{"type":"number"},"total_net_sales":{"type":"number"},"is_refund_breakdown":{"type":"boolean"},"customer_name":{"type":"string"},"customer_email":{"type":"string"},"customer_phone":{"type":"string"},"subtotal":{"type":"number"},"creator_name":{"type":"string"},"table_name":{"type":"string"},"collector_id":{"type":"integer"},"cashlezz_transaction_id":{"type":"string"},"sms_id":{"type":"string"},"receipt_count":{"type":"integer"},"order_id":{"type":"string"},"is_loyalty":{"type":"boolean"},"total_redeem_amount":{"type":"number"},"is_offline":{"type":"boolean"},"is_sales_type":{"type":"boolean"},"server_created_at":{"type":"string"},"total_rounding_amount":{"type":"number","description":"Total rounding amount from a payment. If null then the rounding is not applied in the transaction"},"bill_id":{"type":"integer"},"tax_type":{"type":"string"},"grauity_type":{"type":"string"},"uuid":{"type":"string"},"parent_payment_uuid":{"type":"string"}}}},"next_url":{"type":"string"},"completed":{"type":"string"}}},"meta":{"$ref":"#/definitions/MetadataProperty"}}},"examples":{"application/json":{"data":{"invoices":[{"id":"112cc68d-321f-48e4-b55a-81af98718444","status":"Done","payment_no":"6H7DD9Y","payment_type":"invoice","amount_pay":0.0,"amount_change":0.0,"total_discount_amount":0.0,"total_gratuity_amount":0.0,"total_item_price_amount":0.0,"total_tax_amount":52.5,"total_checkouts_amount":-52.5,"is_refunded":false,"refunded_reason":null,"refunded_date":null,"business_id":4011,"customer_id":20023409,"discount_id":null,"is_deleted":null,"created_at":"2022-10-20T10:04:52.797+07:00","updated_at":"2022-10-20T10:04:52.797+07:00","total_custom_price_amount":0.0,"include_gratuity_tax":false,"refund_amount":null,"refund_type":null,"card_no":null,"created_by":5658,"note":"","total_collected_amount":0.0,"server_id":5658,"server_name":"Shintaaaa12 Shintaaaa","server_title":"Owner","auth_code":null,"cc_name":null,"card_type":null,"transaction_number":null,"transaction_reference":null,"outlet_id":4522,"guid":"73D163FB-A195-4BF7-9170-73BAB06E215C","synchronized_at":"2022-10-20T10:04:58.860+07:00","uniq_id":"141","transaction_certificate":null,"transaction_status_info":null,"merchant_id":null,"mpos_device_id":null,"pg_mid":null,"pg_setting":null,"order_info":null,"tvr":null,"cvm_result":null,"aid":null,"transaction_date":null,"pii":null,"collected_by":"Shintaaaa12 Shintaaaa","shift_id":null,"invoice_no":"INV6H7DD91","invoice_deposit_amount":0,"invoice_due_date":"2022-10-27","invoice_status":"unpaid","latitude":-6.3366333,"longitude":106.70048472,"refund_ids":[],"total_gross_sales":210.0,"total_net_sales":210.0,"is_refund_breakdown":true,"customer_name":"Jang Pro","customer_email":"paijo@gojek.com","customer_phone":"+6284185741127","subtotal":210.0,"creator_name":"Shintaaaa12 Shintaaaa","table_name":"","collector_id":5658,"cashlezz_transaction_id":null,"sms_id":null,"receipt_count":null,"order_id":"141TH0003","is_loyalty":false,"total_redeem_amount":0.0,"is_offline":false,"is_sales_type":true,"server_created_at":"2022-10-20T10:04:58.886+07:00","total_rounding_amount":-262.5,"bill_id":null,"tax_type":"AFTER_DISCOUNT","gratuity_type":"AFTER_DISCOUNT","uuid":"112cc68d-321f-48e4-b55a-81af98718444","parent_payment_uuid":null,"source_type":null,"original_client_created_at":"2022-10-20T10:04:52.797+07:00"}],"next_url":"","completed":true},"meta":{"code":200,"errors":{}}}}}},"security":[{"access_token":["transaction"]}],"description":"Returns all the invoices of an outlet. Required permissions: `transaction`","operationId":"reportInvoicesV3","tags":["Invoices"],"parameters":[{"name":"outlet_id","description":"The merchant's outlet ID","in":"path","required":true,"type":"integer"},{"name":"per_page","in":"query","description":"Number of elements on a page","required":false,"type":"integer"},{"name":"page","in":"query","description":"Pagination number","required":false,"type":"integer"},{"name":"start","in":"query","description":"Start date in DD/MM/YYYY format","required":false,"type":"float"},{"name":"end","in":"query","description":"End date in DD/MM/YYYY format","required":false,"type":"float"},{"name":"time_filter","in":"query","description":"Type of fitler to be used by start and end parameters {created_at, updated_at, synchronized_at}","required":false,"type":"string"},{"name":"reorder_type","in":"query","description":"Sort results in ascending or descending order {ASC, DESC}","r
[...]
